

<div class="row">
            <div class="input-field col s12 m4 l4 xl3">
                <i class="material-icons prefix">search</i>
                <input type="text" id="autocomplete-input" class="autocomplete">
                <label for="autocomplete-input">Search</label>
            </div>
            <div class="col s12 m6 l4 xl3">
                <button id="search" class="btn red lighten-2" data-csrf="{{csrf}}">Search</button>
            </div>
            <div class="col s12 m12 l12 xl3 view-buttons">
                {{#if one}}
                    <a class="btn red lighten-1 tooltipped" href="/books?page=1&limit=3&active=1&sort={{sort}}" id="limit1" data-position="top" data-tooltip="three books per page"><i class="material-icons">view_stream</i></a>
                {{else}}
                    <a class="btn red lighten-2 tooltipped" href="/books?page=1&limit=3&active=1&sort={{sort}}" id="limit1" data-position="top" data-tooltip="three books per page"><i class="material-icons">view_stream</i></a>
                {{/if}}

                {{#if two}}
                    <a class="btn red lighten-1 tooltipped" href="/books?page=1&limit=6&active=2&sort={{sort}}" id="limit2" data-position="top" data-tooltip="six books per page"><i class="material-icons">view_module</i></a>
                {{else}}
                    <a class="btn red lighten-2 tooltipped" href="/books?page=1&limit=6&active=2&sort={{sort}}" id="limit2" data-position="top" data-tooltip="six books per page"><i class="material-icons">view_module</i></a>
                {{/if}}

                {{#if three}}
                    <a class="btn red lighten-1 tooltipped" href="/books?page=1&limit=9&active=3&sort={{sort}}" id="limit3" data-position="top" data-tooltip="nine books per page"><i class="material-icons">view_comfy</i></a>
                {{else}}
                    <a class="btn red lighten-2 tooltipped" href="/books?page=1&limit=9&active=3&sort={{sort}}" id="limit3" data-position="top" data-tooltip="nine books per page"><i class="material-icons">view_comfy</i></a>
                {{/if}}
            </div>
            <div class="col s12">
                <a class='dropdown-trigger btn red lighten-2' href='#' data-target='dropdown1'>Sort</a>
                <ul id='dropdown1' class='dropdown-content'>
                    <li><a href="/books?page=1&limit={{limit}}&active={{active}}&sort=cheaperFirst">Cheaper first</a></li>
                    <li><a href="/books?page=1&limit={{limit}}&active={{active}}&sort=expenciveFirst">Expencive first</a></li>
                    <li><a href="/books?page=1&limit={{limit}}&active={{active}}&sort=byAlphabet">By alphabet</a></li>
                </ul>
            </div>
            
</div>




{{#if booksObj.length}}
<h3>Books are sorted : {{sort}}</h3>
    <div class="row">
    {{#each booksObj}}
            <div id="card" class="col s12 m6 l4 xl3">
                <div class="card">
                    <div class="card-image">
                        <img src="{{img}}" alt="{{title}}">
                    </div>
                    <div class="card-content">
                            <div class="card-title">{{title}}</div>
                        <p class="price">{{price}}</p>
                        {{!-- <p>{{userId._id}} {{@root.userId}}</p> --}}
                    </div>
                    <div class="card-action actions">
                        <a href="/books/{{id}}" target="_blank">Open book</a>
                        {{#if @root.isAuth}}

                        {{#ifeq userId._id @root.userId}}
                        <a href="/books/{{id}}/edit?allow=true" >Edit</a>
                        {{/ifeq}}

                        <form action="/cart/add" method="POST">
                            <input type="hidden" name="id" value="{{id}}">
                            <button type="submit" class="btn btn-primary">Buy</button>
                            <input type="hidden" name="_csrf" value="{{../csrf}}">
                        </form>
                        {{/if}}
                    </div>
                </div>
            </div>
    {{/each}}
    </div>
    <div class="row">
        <div class="col s7">
            <ul class="pagination">
                    <li class="waves-effect"><a href="/books?page=1&limit={{limit}}&active={{active}}&sort={{sort}}">first page</a></li>
                    
                    {{#if previous}}
                        <li class="waves-effect"><a href="/books?page={{previous.page}}&limit={{previous.limit}}&active={{active}}&sort={{sort}}"><i class="material-icons">chevron_left</i></a></li>
                    {{else}}
                        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                    {{/if}}

                    <li class="active"><a href="#!">{{page}}</a></li>

                    {{#if next}}
                        <li class="waves-effect"><a href="/books?page={{next.page}}&limit={{next.limit}}&active={{active}}&sort={{sort}}"><i class="material-icons">chevron_right</i></a></li>
                    {{else}}
                        <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                    {{/if}}
                        
                    <li class="waves-effect"><a href="/books?page={{lastPage}}&limit={{limit}}&active={{active}}&sort={{sort}}" data-page="{{booksObj.last.page}}" id="lastPage">last page :  {{lastPage}}</a></li>
            </ul>
        </div>
        {{!-- <div class="col s5">
            <form action="#!">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="page" type="number" class="validate" min="1" max="{{booksObj.last.page}}" required>
                        <label for="page"><span id="searchSpan">Choose page</span></label>
                    </div>
                    <div id="but">
                        <button id="goSearch" type="submit" class="col s2 btn red lighten-2">Go</button>
                    </div>
                </div>
            </form>
        </div> --}}
        
  </div>
{{else}}
    <h3>There are no books</h3>
{{/if}}